{{#each loopItems as | item |}}
<li>
    <h2>{{ item.Name }}</h2>
    <h3>{{ item.description }}</h3>

    <img src="{{ item.imageUrl }}" alt="{{ item.name }}" />
    <p>{{#with ../this}}{{ i18n "loop.address" }}{{/with}} {{ item.address }}</p>
    <p>&pound;{{ item.price }}</p>
</li>
{{/each}}
